.project_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}
.project_list_div{
    display: inline;
}

@media(max-width: 1079px){
    .project_list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
}
@media(max-width: 750px){
    .project_list{
        display: grid;
        grid-template-columns: 1fr;
    }   
}

