.header{
    .header_section{
        z-index: 2;
        width: 100%;
        height: 180px;
        background-color: #0D1B2A;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .start_burger{
        z-index: 2;
        cursor: pointer;
        background-color: #ffffff;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        .line{
            width: 40px;
            margin: 3px 0px;
            height: 4px;
            background-color: #000000;
            
        }
    }

    .close_burger{
        z-index: 2;
        cursor: pointer;
        background-color: #ffffff;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        .line{
            width: 40px;
            margin: 3px 0px;
            height: 4px;
            background-color: #000000;
            
        }

        .line_1{
            animation: closeLine1 1s ease forwards;
        }
        .line_3{
            animation: closeLine3 1s ease forwards;
        }
        .line_2{
            animation: closeLine2 1s ease forwards;
        }
    }

    .open_burger{
        cursor: pointer;
        z-index: 2;
        background-color: #ffffff;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        .line{
            width: 40px;
            margin: 3px 0px;
            height: 4px;
            background-color: #000000;   
        }

        .line_1{
            animation: openLine1 1s ease forwards;
        }
        .line_3{
            animation: openLine3 1s ease forwards;
        }
        .line_2{
            animation: openLine2 1s ease forwards;
        }
    }

    .siteName{
        color: #fff;
        font-size: 20px;
    }

}

.open_menu{
    z-index: 1;
    animation: openMenu 1s ease forwards;
    height: 500px;
    background-color: #0D1B2A;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px 0px 10px 0px;

    color: #fff;
    .menu_title{
        font-size: 26px;
        height: 180px;
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    .menu_links{
        animation: closeLine2 1s ease-in-out;
        display: flex;
        padding-left: 50px;
        font-size: 24px;
        font-family: monospace;

        a{
            color: #fff;
            text-decoration: none;
        }

        li{
            list-style: none;
            font-size: 24px;
            margin: 15px 0px;
        }
    }
}

.start_popup{
    width: 0px;
    height: 500px;
    background-color: #0D1B2A;
    position: absolute;
    top: 0px;
    left: 0px;

    .menu_title, .menu_links{
        opacity: 0;
    }
}

.close_menu{
    z-index: 1;
    animation: closeMenu 1s forwards;
    height: 500px;
    background-color: #0D1B2A;
    position: absolute;
    top: 0px;
    left: 0px;

    .menu_title, .menu_links{
        opacity: 0;
        display: none;
    }
    
}

// Медиа запросы для адаптации
@media (max-width: 500px){
    .header{
        .siteName{
            display: none;
        }
        .open_burger{
            animation: none;
        }
        .close_burger{
            animation: none;
        }
        .open_menu{
            animation: openMenu_md 1s ease-in-out;
            width: 100%;
            .menu_title{
                transform: translate(50px, 0px);
                animation: closeLine2 1s ease-in-out;
            }
        }
    }
}

@media (min-width: 400px){
    .open_menu{
        .menu_title{
            display: none;
        }
        .menu_links{
            margin-top: 15vh;
        }
    }
}

@keyframes openMenu_md {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}

@keyframes openMenu {
    0%{
        width: 0px;
    }
    100%{
        width: 320px;
    }
}

@keyframes closeMenu{
    0%{
        width: 320px;
    }
    100%{
        width: 0px;
    }
}

// Анимации на открытие бургера
@keyframes openLine1 {
    100%{
        transform: translate(0px, 10px) rotate(45deg);
    }
}

@keyframes openLine3 {
    100%{
        transform: translate(0px, -10px) rotate(-45deg);
    }
}

@keyframes openLine2 {
    100%{
        opacity: 0;
    }
}

// Анимации на закрытие бургера
@keyframes closeLine1 {
    0%{
        transform: translate(0px, 10px) rotate(45deg);
    }
    100%{
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes closeLine3 {
    0%{
        transform: translate(0px, -10px) rotate(-45deg);
    }
    100%{
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes closeLine2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
