.creator_list_section, .investor_list_section {
    background-color: #edf0fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}
  
.creator_title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.cretor_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cretor_list li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  &:hover{
    transition: all 1s;
    background-color: #64b5f6;
    color: #fff;
  }
}
  
.cretor_list li:last-child {
  margin-bottom: 0;
}

.investorInfo {
  border-left: 4px solid #007bff;
  padding-left: 10px;
}

@media(max-width : 500px){
  .creator_list_section, .investor_list_section{
    width: 300px;
  }
  .cretor_list li{
    width: 250px;
  }
}