.home_cards_section{
    width: 100%;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px){
    .home_cards_section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
}