.login_section{
    .button{
        padding: 8px;
        width: 150px;
        background-color: #0040FF;
        border-radius: 10px;
        font-family: monospace;
        font-size: 18px;
        color: #fff;
        border: 0px;

        &:hover{
            background-color: #0040ff76;
        }
    }
}